# Rust build artifacts
target/
*.pdb
*.d
*.rs.bk

# Compiled binaries
*.exe
*.dll

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor files
*.swp
*~
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp

target-ui/
target-ui2/
target-ui3/
target-ui4/
target-ui5/
target-ui6/
